# SERVER
NODE_ENV=
PORT=
FRONTEND_URL=

# MONGO DB
MONGODB_URI= 
#SECRETS - use 32bit scrambed value
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# EMAIL SERVICES
MAILTRAP_TOKEN=
MAIL_FROM_EMAIL=
MAIL_FROM_NAME=

